*{
    margin: 0px;
    padding: 0px;
}
.nav{
    margin-bottom: 8px;
}
.head li{
    float: left;
    list-style-type: none;
}
.head td{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
.navbar li{
    float: left;
    list-style-type: none;
}
.navbar li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    /* border: 2px solid black; */
    margin-left: 30px;
    text-decoration: none;
    padding: 10px 80px 10px 10px;
  
}
body{
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url('photo-1487215078519-e21cc028cb29.jpeg');
}
.nav a:hover{
    font-size: large;
    background-color: aliceblue;
}
.box{
    margin-left: 631px;
    margin-top: 295px;
}
.box a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 17px 33px 16px 31px;
    margin-left: 33px;

}
.box h1{
    color: white;
}
.gal{
    margin-top: 49px;
}
.mainh h1{
    color: white;
    margin-left: 125px;
    font-size: 180px;
}
.gallery{
    margin-left: 261px;
    margin-top: 60px;
}
.gallery td{
    color: white;
    padding: 17px 56px 15px 39px;
}
.gallery  td img{
    height: 100px;
    width: 120px;
}
.title{
    padding-left: 15px;
}
.dilb{
    margin-top: 90px;
    margin-left: 220px;
}
.name{
    color: white;
    margin-top: 30px;
    margin-left: 290px;
}
.tdil{
    font-weight: bold;
    color: white;
    margin-top: -500px;
    margin-left: 721px;
}
.tdil td{
    font-weight: 4000px;
    padding: 29px;
}
.dilb img{
    height: 400px;
    width: 400px;
}
.play{
    font-weight:bolder;
    color: white;
    background-color:black;
    height: 40px;
    width: 150px;
}
audio{
    width:550px
}

.music{
    margin-top: 30px;
    margin-left: 500px;
}
.did{
    margin-top: 80px;
    margin-left: 500px;
}
.did img{
    height: 400px;
}